<div class="recipes-panel p-2">
  <div class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-justify-content-space-between is-align-items-center block">
    <h1 class="p-0 m-0 has-text-primary-light"><%= t("views.cookbook.section_title") %></h1>
    <%=
      link_to 'Add',
              new_cookbook_recipe_path,
              class: 'button is-success is-light',
              data: {
                turbo: true,
                turbo_frame: :main_display,
              }
    %>
  </div>

  <%= turbo_stream_from :cookbook_recipes %>
  <%= turbo_frame_tag :cookbook_recipes,
                      src: cookbook_recipes_path,
                      class: 'recipe-collection block pr-2' do %>
    <span>Loading...</span>
  <% end %>
</div>
<div class="cookbook-page">
  <%= turbo_frame_tag :main_display,
                      src: new_cookbook_recipe_path,
                      data: {
                        action: 'turbo:frame-render->cookbook#setActiveRecipe',
                        cookbook_target: 'frame'
                      },
                      class: 'main-display' do %>
    <span>Loading...</span>
  <% end %>
</div>
