<%= turbo_frame_tag dom_id(ingredient), class: "mb-4" do %>
  <div class="message is-dark is-medium">
    <div class="message-body is-flex is-justify-content-space-between is-align-items-center">
      <p class="is-capitalized m-0 mr-4">
        <span class="has-text-weight-bold"><%= ingredient.item.name %>:</span>
        <%= number_to_human ingredient.amount,
                            precision: 3,
                            significant: true,
                            separator: ',',
                            delimiter: '.' %>
        <%= ingredient.unit.name %>
      </p>

      <div class="buttons has-addons">
        <%= link_to t('views.defaults.actions.short.edit'),
                    edit_cookbook_recipe_ingredient_path(ingredient.recipe, ingredient),
                    class: 'button is-info' %>
        <%= link_to t('views.defaults.actions.short.destroy'),
                    cookbook_recipe_ingredient_path(ingredient.recipe, ingredient),
                    class: 'button is-danger',
                    data: { confirm: 'Are you sure?', turbo_method: :delete } %>
      </div>
    </div>
  </div>
<% end %>