<% minimum ||= -Float::INFINITY %>
<% maximum ||= Float::INFINITY %>
<% fraction_digits ||= 0 %>

<div class="field"
     data-controller="numeric-input"
     data-numeric-input-min-value="<%= can_be_infinity minimum %>"
     data-numeric-input-max-value="<%= can_be_infinity maximum %>"
     data-numeric-input-fraction-digits-value="<%= fraction_digits %>">
  <%= form.label attr, class: 'label' %>
  <div class="field is-grouped">
    <% steps.each do |step| %>
      <div class="control">
              <span
                class="button is-danger"
                data-step="<%= step %>"
                data-action="click->numeric-input#decrement">
                <%= step.to_s.gsub("0.", ".") %>
              </span>
      </div>
    <% end %>
    <div class="control is-expanded">
      <%= form.text_field attr,
                          class: input_class(:danger, !has_errors_for(model, attr)),
                          readonly: true,
                          data: { numeric_input_target: 'field' } %>
    </div>
    <% steps.reverse.each do |step| %>
      <div class="control">
        <span
          class="button is-success"
          data-step="<%= step %>"
          data-action="click->numeric-input#increment">
          <%= step.to_s.gsub("0.", ".") %>
        </span>
      </div>
    <% end %>
  </div>
  <%= render partial: 'shared/form_errors_for', locals: { model: model, attr: attr } %>
</div>