<%= form_with(model: recipe, scope: :recipe) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= render partial: 'shared/form_errors_for', locals: { model: recipe, attr: :name } %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= render partial: 'shared/form_errors_for', locals: { model: recipe, attr: :description } %>
  </div>

  <div class="field">
    <%= form.label :preparation %>
    <%= form.text_area :preparation %>
    <%= render partial: 'shared/form_errors_for', locals: { model: recipe, attr: :preparation } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
