<%= form_with(model: recipe, scope: :recipe) do |form| %>

  <div class="columns is-multiline">
    <div class="column is-two-thirds">
      <div class="field">
        <%= form.label :name, class: 'label' %>
        <div class="field">
          <div class="control">
            <%= form.text_field :name,
                                class: input_class(:danger, !has_errors_for(recipe, :name)),
                                placeholder: "Cleverly unique name..." %>
          </div>
          <%= render partial: 'shared/form_errors_for', locals: { model: recipe, attr: :name } %>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <%= render 'shared/numeric_input_for',
                 form: form,
                 model: recipe,
                 attr: :portions,
                 steps: [1],
                 minimum: 1
      %>
    </div>
    <div class="column is-full">
      <%= render 'shared/limited_textarea',
                 form: form,
                 model: recipe,
                 attr: :description,
                 limit: 200
      %>
    </div>
  </div>

<!--  <div class="field is-horizontal">-->
<!--    <div class="field-label is-normal">-->
      <%#= form.label :preparation, class: 'label' %>
<!--    </div>-->
<!--    <div class="field-body">-->
<!--      <div class="field">-->
<!--        <div class="control">-->
          <%#= form.text_area :preparation, class: textarea_class(:danger, !has_errors_for(recipe, :preparation))  %>
          <%#= render partial: 'shared/form_errors_for', locals: { model: recipe, attr: :preparation } %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="buttons is-right">
    <%= form.submit class: 'button is-primary' %>
    <%= yield %>
  </div>
<% end %>
