<%= turbo_frame_tag "main_display" do %>
  <div
    id="meta-container"
    data-id="<%= @recipe.id %>"
    class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-justify-content-space-between pb-5">
    <div class="is-inline-block">
      <h1 class="title is-1"><%= @recipe.name %></h1>
      <p class="subtitle">For <%= pluralize(@recipe.portions, 'person') %></p>
    </div>
    <div class="buttons">
      <%= link_to 'Edit', edit_cookbook_recipe_path(@recipe), class: 'button is-info' %>
      <%= link_to 'Destroy', @recipe, class: 'button is-danger', data: { confirm: 'Are you sure?', 'turbo-method': :delete } %>
    </div>
  </div>

  <div class="message">
    <div class="message-body">
      <% if @recipe.description.present? %>
        <p><%= @recipe.description %></p>
      <% else %>
        <p><i>Please write a short description...</i></p>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag :recipe_ingredients, src: cookbook_recipe_ingredients_path(@recipe) do %>
    <span>Loading...</span>
  <% end %>

  <%# if @recipe.preparation.present? %>
<!--    <h2>Preparation</h2>-->
<!--    <p><%#= @recipe.preparation %></p>-->
  <%# end %>

  <div class="flex flex-row flex-nowrap justify-end">
  </div>
<% end %>
