<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "main_display" do %>
  <h1><%= @recipe.name %></h1>
  <p><%= @recipe.description %></p>

  <h2>Preparation</h2>
  <p><%= @recipe.preparion %></p>

  <%= link_to 'Edit', edit_cookbook_recipe_path(@recipe) %>
<% end %>
