<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "main_display" do %>
  <h1><%= @recipe.name %></h1>
  <p><%= @recipe.description %></p>

  <% if @recipe.preparation.present? %>
    <h2>Preparation</h2>
    <p><%= @recipe.preparation %></p>
  <% end %>

  <%= link_to 'Edit', edit_cookbook_recipe_path(@recipe) %> |
  <%= link_to 'Destroy', @recipe, data: { confirm: 'Are you sure?', 'turbo-method': :delete } %>
<% end %>
