<%= turbo_frame_tag :main_display do %>
  <div
    id="meta-container"
    data-id="<%= @recipe.id %>"
    class="is-flex is-flex-direction-row is-flex-wrap-nowrap is-justify-content-space-between pb-5">
    <div class="is-inline-block">
      <h1 class="title is-1"><%= @recipe.name %></h1>
      <p class="subtitle">For <%= pluralize(@recipe.portions, 'person') %></p>
    </div>
    <div class="buttons">
      <%= link_to 'Edit', edit_cookbook_recipe_path(@recipe), class: 'button is-info' %>
      <%= link_to 'Destroy', @recipe, class: 'button is-danger', data: { confirm: 'Are you sure?', turbo_method: :delete } %>
    </div>
  </div>

  <div class="message">
    <div class="message-body">
      <% if @recipe.description.present? %>
        <p><%= @recipe.description %></p>
      <% else %>
        <p><i>Please write a short description...</i></p>
      <% end %>
    </div>
  </div>

  <div class="m-0 p-0" data-controller="tabs">
    <div class="tabs is-centered is-boxed is-large is-fullwidth">
      <ul class="m-0">
        <% %w(Preparation Ingredients).each_with_index do |tab, idx| %>
          <%= content_tag :li,
                          content_tag(:a, tab),
                          class: "#{'is-active' if idx.zero?}",
                          data: {
                            action: 'click->tabs#showTab',
                            content_name: tab.underscore,
                            tabs_target: 'tab'
                          } %>
        <% end %>
      </ul>
    </div>

    <%# preparation %>
    <div class="m-0 py-0 px-4" data-tabs-target="content" data-name="preparation">
      <% if @recipe.preparation.present? %>
        <div><%= @recipe.preparation %></div>
      <% else %>
        <p><i>This recipe doesn't have preparation yet</i></p>
      <% end %>
    </div>

    <%# ingredients %>
    <div class="m-0 p-0 py-0 px-4 is-hidden" data-tabs-target="content" data-name="ingredients">
      <%= turbo_frame_tag :new_ingredient do %>
        <%= render 'cookbook/ingredients/new_button' %>
      <% end %>

      <%= turbo_stream_from :ingredients %>
      <%= turbo_frame_tag :ingredients,
                          src: cookbook_recipe_ingredients_path(@recipe), class: 'mt-4' do %>
        <span>Loading...</span>
      <% end %>
    </div>

  </div>
<% end %>
